.photo-grid{
  max-width: 1184px;
  min-height: 288px;
}

@media screen and (max-width: 1184px){
  .photo-grid{
    max-width: 928px;
  }
}

@media screen and (max-width: 880px) {
  .photo-grid{
    max-width: 720px;
  }
}

@media screen and (max-width: 582px) {
  .photo-grid{
    max-width: 288px;
  }
}
