.place__link{
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 590px) {
  .place__link{
    font-size: 11px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 500px) {
  .place__link{
    font-size: 18px;
    line-height: 22px;
  }
}
