.place__link{
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.place__link:hover{
  transition: ease-in;
  opacity: .8;
}

@media screen and (max-width: 668px) {
  .place__link{
    font-size: 18px;
    line-height: 22px;
  }
}
